<ion-header>
  <ion-toolbar style="--background: #3880ff; --color: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/autor"></ion-back-button>
    </ion-buttons>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 15px" *ngIf="listaTrabajos">
    <ion-item *ngFor="let trabajo of listaTrabajos">
      <ion-label class="ion-text-wrap">
        <strong>{{ trabajo.fecha }}</strong>:
        <br/>
        {{ trabajo.desc }}
     </ion-label>    
    </ion-item>
  </ion-list>
</ion-content>