<ion-app>
<ion-header>
  <ion-toolbar style="--background: #3880ff; --color: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>autor</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  ion-button {
    --color: inherit;
    --ion-color-base: var(--ion-color-black); 
  }
</style>

<ion-content class="ion-padding">  
  <ion-card >    
      <h1 style="padding-left: 20px;">Información</h1>
      <p style="padding-left: 20px;">
        Aplicación desarrollada por {{autor.name}}. A continuación puede
        consultar más información sobre el autor.
      </p> 
        <ion-list class="test-list" inset="true">          
          <ion-item class="ion-no-padding">
            <ion-button class="custom-label" fill="clear" style="--color: black;" text-wrap  routerLink="/curriculum">Currículum Vítae</ion-button>
            <ion-icon size="small" name="book-outline" slot="start"></ion-icon>
          </ion-item>
        
          <ion-item class="ion-no-padding">
            <ion-label class="custom-label" style="font-size: 14px;" text-wrap>
              <span style="color: black; font-weight: bold;">Correo: </span> 
              <a href="mailto:email@email.com" style="text-decoration: none; color: inherit;">{{autor.email}}</a>
            </ion-label>
            
            <ion-icon size="small" name="mail" slot="start" style="color: black;"></ion-icon>
          </ion-item>          
      
          
          <ion-item  class="ion-no-padding">
            <ion-label class="custom-label" style="font-size: 14px" text-wrap>
              <span style="color: black; font-weight: bold;"> Twitter: </span>
              <a  href="https://twitter.com" style="text-decoration: none; color: inherit;">{{autor.twitter}}</a>
            </ion-label>        
            <ion-icon size="small" name="logo-twitter" slot="start" style="color: black;"></ion-icon>
          </ion-item>
          
           <ion-item  class="ion-no-padding">
            <ion-label class="custom-label" style="font-size: 14px" text-wrap>
              <span style="color: black; font-weight: bold;">Teléfono: </span> 
              <a href="tel:999888777" style="text-decoration: none; color: inherit;">{{autor.phone}}</a>   

            </ion-label>        
            <ion-icon size="small" name="call" slot="start"  style="color: black;"></ion-icon>
          </ion-item>      
        </ion-list>  

  </ion-card>  
</ion-content>
</ion-app>